<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <!-- style sheets -->
  <link href="../../www/lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="../../www/css/style.css" rel="stylesheet">
  <!-- ionic/angularjs js -->
  <script src="../../www/lib/ionic/js/ionic.bundle.js"></script>
  <!-- javascript -->
  <script src="../../www/js/app.js"></script>
  <script src="../../www/js/restcontrollers.js"></script>

  <!-- controller -->
  <script src="../controllers/groupStatus.js"></script>

</head>
<body>

</body>
</html>
