ul {
  list-style: none;
}
#userGroup {
  position: absolute;
  left: 0;
  padding-left: 0;
  width: 100%;
  height: 70%;
}
.userSquare {
  position: absolute;
  background-color: deepskyblue;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.userImage {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: white;
  margin: 2%;
  border-radius: 150px 150px 150px 150px;
  -moz-border-radius: 150px 150px 150px 150px;
  -webkit-border-radius: 150px 150px 150px 150px;
  border: 1px solid #000000;
}
.topLeft {
  left: 0;
  top: 0;
}
.topRight {
  top: 0;
  right: 0;
}
.bottomLeft {
  left: 0;
  bottom: 0;
}
.bottomRight {
  right: 0;
  bottom: 0;
}
#centerUser {
  margin-left: 50%;
  left: -75px;
  top: 50%;
  margin-top: -75px;
}
