ul {
  list-style: none;
}
#careBankBlock{
  margin-top:0;
/*  position: relative;
  !*background-color: #4cd964;*!
  left: 0;
  padding-left: 0;
  width: 100%;*/
}
#careBankHeader {
  text-align: center;
  font-size: 26px;
}
.careBankDetail{
  display: inline-block;
  position: inherit;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.careBankBalance{
}


.smallBorder{
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 2px solid #000000;
}
.boxShadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#careBankData {


}
#userGroup {
  position: relative;
  left: 0;
  padding-left: 0;
  width: 100%;
  padding-bottom: 100%;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  border: 1px solid #737373;

}
.userSquare {
  position: absolute;
  background-color: dimgrey;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.75);
}
.userImage {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: white;
  margin: 2%;
  border-radius: 150px 150px 150px 150px;
  -moz-border-radius: 150px 150px 150px 150px;
  -webkit-border-radius: 150px 150px 150px 150px;
  border: 1px solid #000000;
}
.topLeft {
  left: 0;
  top: 0;
}
.topRight {
  top: 0;
  right: 0;
}
.bottomLeft {
  left: 0;
  bottom: 0;
}
.bottomRight {
  right: 0;
  bottom: 0;
}
.centerUser {
  left: 28%;
  top: 28%;
  width: 40%;
  height: 40%;
}

.alertOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /* text style */
  color: white;
  text-align: center;
}
.red{
  background-color:red;
}
.yellow{
  background-color:yellow;
}
.blue{
  background-color: blue;
}
.grey{
  background-color: dimgrey;
}

.miniCardHeader {
  padding: 3px;
  font-size: 20px;
}

.stretch {
  width: 100%;
  height: 100%;

}
