/* Empty. Add your own CSS if you like */
a{
  text-decoration: none;
  color: white;
}
.devButton {
  position: relative;
  width: 200px;
  height: 30px;
  background: rgba(91,163,240,1);
  /*border radius*/
  border-radius: 5px 5px 5px 5px;
  border: 0 solid #000000;
  background: linear-gradient(to bottom, rgba(91,163,240,1) 0%, rgba(25,55,191,1) 100%);

  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 3px;

}
.devButton:active {
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
}


/* For individualStatus */
.col {
  border: solid 1px grey;
  text-align: center;
}

.col.no_border {
  border: none;
}

.col.blue {
  border: solid 1px grey;
  background-color: blue;
  color: white;
}

.col.grey {
  border: solid 1px grey;
  background-color: grey;
}

.col.yellow {
  border: solid 1px grey;
  background-color: yellow;
}

.col.red {
  border: solid 1px grey;
  background-color: red;
}

.moveDown{
  top: 43px;
}
