<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/filelogger.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/restcontrollers.js"></script>
    <script src="app/filelogger/filelogger.ctrl.js"></script>

  </head>
  <body ng-app="careWheels">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">CareWheels Starter</h1>
      </ion-header-bar>
      <ion-content>
        <ul>
          <li><h5>temp dev buttons to link to the views</h5></li>
          <li class="devButton">
            <a href="app/views/login.html">Login</a>
          </li>
          <li class="devButton">
            <a href="app/views/groupStatus.html">Group Status</a>
          </li>
          <li class="devButton">
            <a href="app/views/individualStatus.html">Individual Status</a>
          </li>
          <li class="devButton">
            <a href="app/views/menu.html">Menu</a>
          </li>
          <li class="devButton">
            <a href="app/views/reminders.html">Reminders</a>
          </li>
        </ul>

          <!-- sample rest function calls -->
        <div ng-controller="UserRestController">
          <button id="fetchbtn" ng-click="fetch('test','test123','test7')">Correct UserInfo</button><br>
          <pre>http status code: {{status}}</pre>
          <!-- <pre>http response data: {{data}}</pre> -->
        </div>
        <div ng-controller="UserRestController">
          <button id="fetchbtn" ng-click="fetch('lockedout','locked','test7')">Wrong UserInfo</button><br>
          <pre>http status code: {{status}}</pre>
          <!-- <pre>http response data: {{data}}</pre> -->
        </div>
        <div ng-controller="UserRestController">
          <button id="fetchbtn" ng-click="fetch('','locked','test7')">Missing UserInfo</button><br>
          <pre>http status code: {{status}}</pre>
          <!-- <pre>http response data: {{data}}</pre> -->
        </div>

        <div ng-controller="ReminderRestController">
          <button id="fetchbtn" ng-click="fetch('test','test123','test','14:00:00','15:00:00','')">Reminders</button><br>
          <pre>http status code: {{status}}</pre>
          <!-- <pre>http response data: {{data}}</pre> -->
        </div>
        <div ng-controller="GroupRestController">
          <button id="fetchbtn" ng-click="fetch('testbilly','testbilly','CareWheel 1')">UserInfo</button><br>
          <pre>http status code: {{status}}</pre>
          <!-- <pre>http response data: {{data}}</pre> -->
        </div>
        <!-- changes the LastOwnershipTakenTime custom field -->
        <!-- Looking at the Cyclos Server: LastOwnershipTakenTime takes the form XXXX/XX/XX XX:XX:XX -->
        <div ng-controller="OwnershipRestController">
          <button id="fetchbtn" ng-click="fetch('testbilly','testbilly','testbilly','2016/07/09 18:00:00')">LastOwnershipTakenTime</button><br>
          <pre>http status code: {{status}}</pre>
          <!-- <pre>http response data: {{data}}</pre> -->
        </div>
        <!-- gets the LastOwnershipTakenTime custom field of target member -->
        <div ng-controller="UserRestController">
          <button id="fetchbtn" ng-click="getLastOwnershipTimeForUser('b_test_1','password','b_test_1')">GetLastOwnershipTakenTime</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>http response data: {{lastOwnershipTime}}</pre>
        </div>
        <!-- gets info of Test Group from groupmember -->
        <div ng-controller="UserAndGroupRestController">
          <button id="fetchbtn" ng-click="fetch('test','test123','groupmember')">UserInfo of Test Group</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>http response data: {{data}}</pre>
        </div>

        <!-- Tests the userInfo endpoint for a user b_test_1 with valid username and password -->
        <div ng-controller="UserRestController">
          <button id="fetchbtn" ng-click="testValidUserPass()">Test_GetUser_ValidUserPass</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>Passed: {{pass}}</pre>
        </div>

        <!-- tests the UpdateLastOwnershipTakenTime endpoint for a new user -->
        <div ng-controller="OwnershipRestController">
          <button id="fetchbtn" ng-click="test()">TestUpdateLastOwnership</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>sent value: {{ownershipTime}}</pre>
          <pre>returned field value: {{value}}</pre>
          <pre>passed: {{pass}}</pre>
        </div>

        <!-- Tests UpdateLastOwnershipTakenTime enpoint for b_test_1 with incorrect password -->
        <div ng-controller="OwnershipRestController">
          <button id="fetchbtn" ng-click="test_passError()">TestUpdateLastOwnership_BadPass</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>Returned Error: {{error}}</pre>
          <pre>passed: {{pass}}</pre>
        </div>

        <!-- Tests UpdateLastOwnershipTakenTime endpoint for b_test_1 with blank timestamp -->
        <div ng-controller="OwnershipRestController">
          <button id="fetchbtn" ng-click="test_blankTime()">TestUpdateLastOwnership_BlankTime</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>Returned Error: {{error}}</pre>
          <pre>passed: {{pass}}</pre>
        </div>

        <!-- Tests both dailytransactionhistory and credituser endpoints -->
        <div ng-controller="CreditController">
          <button id="credbtn" ng-click="creditUser('test', 'test123', '17.38', 'memberSummaryPayment', 'Yellow')">Credit user account function</button><br>
          <pre>http status code for dailytransactionhistory.php post request: {{status}}</pre>
          <pre>http response data for dailytransactionhistory.php post request: {{data}}</pre>
          <pre>http status code for credituser.php post request: {{status2}}</pre>
          <pre>http response data for credituser.php post request: {{data2}}</pre>
        </div>
        <div ng-controller="CreditControllerByDebit">
          <button id="creddebbtn" ng-click="debitUser('test', 'test123', 'Ben', '10', 'memberSummaryPayment', 'Yellow')">Debit user account function</button><br>
          <pre>http status code for dailytransactionhistory.php post request: {{status}}</pre>
          <pre>http response data for dailytransactionhistory.php post request: {{data}}</pre>
          <pre>http status code for credituser.php post request: {{status2}}</pre>
          <pre>http response data for credituser.php post request: {{data2}}</pre>
        </div>
        <div ng-controller="fileloggerCtrl">
          <button class="button button-block button-positive" ng-click="initLogCurrentDate()">Init log to current date
          </button>

          <form ng-submit="initLogCustomDate()">
            <div class="list ">
              <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                  <!--<span class="input-label">Custom Date</span>-->
                  <input type="text" placeholder="yyyy-MM-dd" ng-model="inputDate.text">
                </label>
                <button type="submit" class="button button-positive">Init log to custom date
                </button>
              </div>
            </div>
          </form>

          <button class="button button-block button-positive" ng-click="someLog()">Generate Log</button>
          <button class="button button-block button-positive" ng-click="viewLog()">View Log</button>
          <pre>{{viewLogStatus}}</pre>
          <button class="button button-block button-positive" ng-click="logFileInfo()">Log file information</button>
          <pre>{{logFileInfoStatus}}</pre>
          <button class="button button-block button-positive" ng-click="deleteLogFile()">Delete Log File</button>
          <pre>{{deleteLogFileStatus}}</pre>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
