<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="careWheels">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">CareWheels Starter</h1>
      </ion-header-bar>
      <ion-content>
          <!-- sample rest function calls -->
        <!-- <div ng-controller="UserRestController">
          <button id="fetchbtn" ng-click="fetch('test','test123','test7')">UserInfo</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>http response data: {{data}}</pre>
        </div> -->
        <!-- <div ng-controller="ReminderRestController">
          <button id="fetchbtn" ng-click="fetch('test','test123','test','14:00:00','15:00:00','')">Reminders</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>http response data: {{data}}</pre>
        </div> -->
        <div ng-controller="GroupRestController">
          <button id="fetchbtn" ng-click="fetch('testbilly','testbilly','CareWheel 1')">UserInfo</button><br>
          <pre>http status code: {{status}}</pre>
          <pre>http response data: {{data}}</pre>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
