<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <label> Remember Me
        <input type="checkbox" ng-model="data.remember">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="user.login(username, password)">Login</button>
    <tt>value1 = {{data.remember}}</tt><br/>
  </ion-content>
</ion-view>
