<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <!-- style sheets -->
  <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <!-- ionic/angularjs js -->
  <script src="../lib/ionic/js/ionic.bundle.js"></script>
  <!-- javascript -->
  <script src="../js/app.js"></script>
  <script src="../js/restcontrollers.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- controller -->
  <script src="../js/groupStatus.js"></script>

  <!-- my styling -->
  <link href="../css/groupStatus.css" rel="stylesheet">

  <!-- cordova script (this will be a 404 during development) -->
  <script src="../cordova.js"></script>
  <script src="../build/js/app/bundle.js"></script>

</head>
<body ng-app="careWheels" ng-controller="groupStatusController"  >
<ion-view>
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar>
        <ion-nav-buttons side="left">
          <h2 class="title">Group Status</h2>
          <!-- Toggle right side menu -->
          <button ng-click="toggleRight()" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <!-- user group block: holds the -->
      <ion-content class="overflowHide">
        <ul id="userGroup">
          <li class="userSquare topLeft" ng-click="clickTopLeft()">
            <div id="topLeftAlert" class="alertOverlay" ng-style="{'background-color': '{{group.topLeft.status}}'}"></div>
            <div class="userImage topLeft"></div>
          </li>
          <li class="userSquare topRight" ng-click="clickTopRight()">
            <div id="topRightAlert" class="alertOverlay" ng-style="{'background-color': '{{group.topRight.status}}'}"></div>
            <div class="userImage topRight"></div>
          </li>
          <li class="userSquare bottomLeft" ng-click="clickBottomLeft()">
            <div id="bottomLeftAlert" class="alertOverlay" ng-style="{'background-color': '{{group.bottomLeft.status}}'}"></div>
            <div class="userImage bottomLeft"></div>
          </li>
          <li class="userSquare bottomRight" ng-click="clickBottomRight()">
            <div id="bottomRightAlert" class="alertOverlay" ng-style="{'background-color': '{{group.bottomRight.status}}'}"></div>
            <div class="userImage bottomRight"></div>
          </li>
          <li class="userImage centerUser" ng-click="clickCenter()"></li>
        </ul>

        <ul id="careBankBlock" ng-click="clickCareBank()">
          <li id="careBankHeader" class="smallBorder">CareBank</li>
          <li id="careBankData" class="smallBorder">
            <div class="careBankDetail careBankCredits">
              <h3>Credits</h3>
              <h3><b>{{group.credits}}</b></h3>
            </div>
            <div class="careBankDetail careBankDebits">
              <h3>Debits</h3>
              <h3><b>{{group.debits}}</b></h3>
            </div>
          </li>
        </ul>
      </ion-content>

    </ion-side-menu-content>



    <ion-side-menu side="right">
      <ion-list>
        <!-- make sure to have target point to parent, otherwise
             it will open the page in the within the menu block.

             also there are two external links on this menu page,
             these links need to be handled as opening an external
             app, or the devices native web browser.(cordova plug-in) -->

        <ion-item href="groupStatus.html" target="_parent">CareWheels Group</ion-item>
        <ion-item href="reminders.html" target="_parent">Reminders</ion-item>
        <!-- https://carebank.carewheels.org/#login -->
        <ion-item href="" target="_parent">CareBank</ion-item>
        <!-- link to sense app -->
        <ion-item href="" target="_parent">Sen.se</ion-item>
        <ion-item href="login.html" target="_parent">Logout</ion-item>
      </ion-list>
    </ion-side-menu>
  </ion-side-menus>

</ion-view>
</body>
</html>
