<ion-view view-title="app.groupStatus">
  <ion-nav-title>CareWheels Group</ion-nav-title>
  <!-- user group block: holds the -->
  <ion-content>

    <ion-list>
      <ion-item>
        <ul id="userGroup">
          <li class="userSquare topLeft" ng-click="clickTopLeft()">
            <div id="topLeftAlert" class="alertOverlay"
                 ng-class="group[1].status"></div>
            <img class=" userImage topLeft" ng-src="{{group[1].image}}">
          </li>
          <li class="userSquare topRight" ng-click="clickTopRight()">
            <div id="topRightAlert" class="alertOverlay"
                 ng-class="group[2].status"></div>
            <img class="userImage topRight" ng-src="{{group[2].image}}">
          </li>
          <li class="userSquare bottomLeft" ng-click="clickBottomLeft()">
            <div id="bottomLeftAlert" class="alertOverlay"
                 ng-class="group[3].status"></div>
            <img class="userImage bottomLeft" ng-src="{{group[3].image}}">
          </li>
          <li class="userSquare bottomRight" ng-click="clickBottomRight()">
            <div id="bottomRightAlert" class="alertOverlay"
                 ng-class="group[4].status"></div>
            <img class="userImage bottomRight" ng-src="{{group[4].image}}">
          </li>
          <img class="userImage centerUser" ng-src="{{group[0].image}}">
        </ul>
      </ion-item>
      <ion-item>
        <div id="careBankBlock" class="card" ng-click="clickCareBank()">
          <div id="careBankHeader" class="item item-stable">CareBank</div>
          <div id="careBankData" class="">
            <div class="card careBankDetail careBankBalance">
              <div class="item item-light miniCardHeader center">
                Balance: <b>{{group[0].balance}}</b>
              </div>
            </div>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
