<ion-view class="overflow-scroll">
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar>
        <ion-nav-buttons side="left">
          <h2 class="title">Sensor Status, {{trevor.name}}</h2>
          <!-- Toggle right side menu -->
          <button ng-click="toggleRight()" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar>

  <!-- individual status content -->
  <ion-content class="moveDown">
    <div class="row header">
      <div class="col no_border col-25"></div>
      <div class="col no_border col-25">presence</div>
      <div class="col no_border col-25">meals</div>
      <div class="col no_border col-25">meds</div>
    </div>
    <div class="row">
      <div class="col">12am</div>
      <div class="col {{trevor.midnight.presence.status}}"></div>
      <div class="col {{trevor.midnight.meals.status}}">{{trevor.midnight.meals.pings}}</div>
      <div class="col {{trevor.midnight.meds.status}}">{{getPings('midnight', 'meds')}}</div> 
    </div>
    <div class="row">
      <div class="col">1</div>
      <div class="col {{trevor.one.presence.status}}"></div>
      <div class="col {{trevor.one.meals.status}}">{{trevor.one.meals.pings}}</div>
      <div class="col {{trevor.one.meds.status}}">{{trevor.one.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">2</div>
      <div class="col {{trevor.two.presence.status}}"></div>
      <div class="col {{trevor.two.meals.status}}">{{trevor.two.meals.pings}}</div>
      <div class="col {{trevor.two.meds.status}}">{{trevor.two.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">3</div>
      <div class="col {{trevor.three.presence.status}}"></div>
      <div class="col {{trevor.three.meals.status}}">{{trevor.three.meals.pings}}</div>
      <div class="col {{trevor.three.meds.status}}">{{trevor.three.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">4</div>
      <div class="col {{trevor.four.presence.status}}"></div>
      <div class="col {{trevor.four.meals.status}}">{{trevor.four.meals.pings}}</div>
      <div class="col {{trevor.four.meds.status}}">{{trevor.four.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">5</div>
      <div class="col {{trevor.five.presence.status}}"></div>
      <div class="col {{trevor.five.meals.status}}">{{trevor.five.meals.pings}}</div>
      <div class="col {{trevor.five.meds.status}}">{{trevor.five.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">6</div>
      <div class="col {{trevor.six.presence.status}}"></div>
      <div class="col {{trevor.six.meals.status}}">{{trevor.six.meals.pings}}</div>
      <div class="col {{trevor.six.meds.status}}">{{trevor.six.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">7</div>
      <div class="col {{trevor.seven.presence.status}}"></div>
      <div class="col {{trevor.seven.meals.status}}">{{trevor.seven.meals.pings}}</div>
      <div class="col {{trevor.seven.meds.status}}">{{trevor.seven.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">8</div>
      <div class="col {{trevor.eight.presence.status}}"></div>
      <div class="col {{trevor.eight.meals.status}}">{{trevor.eight.meals.pings}}</div>
      <div class="col {{trevor.eight.meds.status}}">{{trevor.eight.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">9</div>
      <div class="col {{trevor.nine.presence.status}}"></div>
      <div class="col {{trevor.nine.meals.status}}">{{trevor.nine.meals.pings}}</div>
      <div class="col {{trevor.nine.meds.status}}">{{trevor.nine.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">10</div>
      <div class="col {{trevor.ten.presence.status}}"></div>
      <div class="col {{trevor.ten.meals.status}}">{{trevor.ten.meals.pings}}</div>
      <div class="col {{trevor.ten.meds.status}}">{{trevor.ten.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">11</div>
      <div class="col {{trevor.eleven.presence.status}}"></div>
      <div class="col {{trevor.eleven.meals.status}}">{{trevor.eleven.meals.pings}}</div>
      <div class="col {{trevor.eleven.meds.status}}">{{trevor.eleven.meds.pings}}</div>
    </div>
    <div class="row">
      <div class="col">12pm</div>
      <div class="col {{trevor.twelve.presence.status}}"></div>
      <div class="col {{trevor.twelve.meals.status}}">{{trevor.twelve.meals.pings}}</div>
      <div class="col {{trevor.twelve.meds.status}}">{{trevor.twelve.meds.pings}}</div>
    </div>
    <!-- Change the rest later -->
    <div class="row">
      <div class="col">1</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">2</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">3</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">4</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">5</div>
     <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">6</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">7</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">8</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">9</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">10</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">11</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </ion-content>
    </ion-side-menu-content>



    <ion-side-menu side="right">
      <ion-list>
        <!-- make sure to have target point to parent, otherwise
             it will open the page in the within the menu block.

             also there are two external links on this menu page,
             these links need to be handled as opening an external
             app, or the devices native web browser.(cordova plug-in) -->

        <ion-item ui-sref="groupStatus">CareWheels Group</ion-item>
        <ion-item ui-sref="reminders">Reminders</ion-item>
        <ion-item ui-sref="login">Logout</ion-item>
      </ion-list>
    </ion-side-menu>
  </ion-side-menus>
</ion-view>
<div ui-view></div>
