<ion-view view-title="IndividualStatus" class="overflow-scroll">
  <!-- individual status content -->
  <ion-content class="moveDown">
    <div class="row header">
      <div class="col no_border col-25"></div>
      <div class="col no_border col-25">presence</div>
      <div class="col no_border col-25">meals</div>
      <div class="col no_border col-25">meds</div>
    </div>
    <div class="row">
      <div class="col">12am</div>
      <div class="col" ng-style="{'background-color': '{{trevor.row0.status}}'}"></div>
      <div class="col yellow"></div>
      <div class="col {{trevor.row0.status}}"></div> <!-- it can also be done like this, since your it matches the css class your made -->
    </div>
    <div class="row">
      <div class="col">1</div>
      <div class="col blue"></div>
      <div class="col yellow"></div>
      <div class="col blue"></div>
    </div>
    <div class="row">
      <div class="col">2</div>
      <div class="col blue"></div>
      <div class="col yellow"></div>
      <div class="col blue"></div>
    </div>
    <div class="row">
      <div class="col">3</div>
      <div class="col blue"></div>
      <div class="col blue">* *</div>
      <div class="col blue"></div>
    </div>
    <div class="row">
      <div class="col">4</div>
      <div class="col blue"></div>
      <div class="col blue">* * *</div>
      <div class="col blue"></div>
    </div>
    <div class="row">
      <div class="col">5</div>
      <div class="col blue"></div>
      <div class="col blue"></div>
      <div class="col red"></div>
    </div>
    <div class="row">
      <div class="col">6</div>
      <div class="col grey"></div>
      <div class="col blue"></div>
      <div class="col red"></div>
    </div>
    <div class="row">
      <div class="col">7</div>
      <div class="col blue"></div>
      <div class="col blue">*</div>
      <div class="col blue">*</div>
    </div>
    <div class="row">
      <div class="col">8</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">9</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">10</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">11</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">12pm</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">1</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">2</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">3</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">4</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">5</div>
     <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">6</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">7</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">8</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">9</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">10</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">11</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
