<ion-view>
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar>
        <ion-nav-buttons side="left">
          <h2 class="title">Reminders</h2>
          <!-- Toggle right side menu -->
          <button ng-click="toggleRight()" menu-toggle="right" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
      </ion-nav-bar>


      <!-- Alert list -->
      <ion-content class="moveDown">
        <ion-list>
          <!-- use ng-repeat here to print all the alerts in the list -->

          <ion-item >
            <ion-checkbox [(ngModel)]="toggleReminder"></ion-checkbox>
            <ion-input class="reminderInput" type="number" placeholder="{{reminders.hour}}"></ion-input>
            <ion-input type="number" placeholder="{{reminders.min}}"></ion-input>
          </ion-item>

          <!-- need another row here for a new reminder -->

        </ion-list>
        <div ng-controller="NotificationController">
          <button id="initnotifbtn" ng-click="Init_Notifs()">Initialize Notifications</button><br>
          <button id="notifstatusbtn" ng-click="Notifs_Status()">Notifications Status</button><br>
          <button id="unschedulenotifbtn" ng-click="Toggle_Off_Notif(1)">Toggle Off Reminder 1</button><br>
          <button id="createnotifbtn" ng-click="Create_Notif(10,11,12,1)">Change Reminder 1</button><br>
          <button id="createnotifbtn" ng-click="Create_Notif(19, 12, 15, 0)">Create Red Alert</button><br>
          <pre>notifications created {{data}}</pre>
        </div>
      </ion-content>

    </ion-side-menu-content>



    <ion-side-menu side="right">
      <ion-list>
        <ion-item>home</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>group</ion-item>
      </ion-list>
      <ion-list>
        <ion-item>etc</ion-item>
      </ion-list>
    </ion-side-menu>
  </ion-side-menus>

</ion-view>
<div ui-view></div>
